---
import Overview from "../components/Overview/Overview.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title='Carlos Avila Web Developer' meta={{
	description: "A little bit about myself and my work."
}}>
  <Overview title="About" subtitle="A little bit about myself and my work." description="" >
    <section class="text-slate-200">
      <div class="mt-8 flex flex-col md:flex-row">
        <img src="/images/CarlosAvila.webp" alt="Carlos Avila" class="rounded-full w-[300px] h-[300px] mx-auto mb-8 object-cover border border-white md:mx-8" />
        <div>
          <p class="py-4">
            So, my first run-in with a computer happened around '97, and let me tell you, it was a total trip. The moment I saw that thing, I was hooked. Back then, all I did was doodle on it, play some basic PC games, and mess around with the DOS console – it felt like some kind of magical mystery box.
          </p>
          <p class="py-4">
            But the real magic happened when I stumbled onto the internet for the first time. It was a wild, wild place: music, people, chat rooms, forums, you name it. And the best part? It was like a treasure trove of info on how these contraptions worked and ways to "hack" into 'em.
          </p>
          <p class="py-4">
            And just like that, my computer journey kicked off, driven by a mix of destiny, tech, and a young dreamer's endless curiosity.
          </p>
        </div>
      </div>

      <p class="py-4">During my school years, my mind was constantly abuzz with thoughts of computers. I dabbled in a bit of Visual Basic, and that mischievous hacker and prankster spirit within me took control. I conjured up a program to roll the dice, another one that held your screen hostage until you cracked its code, and yet another that captured text and twisted it into whimsical chaos.</p>
      <p class="py-4">With each new creation, my fascination with networking and the vast expanse of the internet deepened.</p> 
      <p class="py-4">Soon, I found myself on the path of formal education, diving headfirst into the world of computer science. Simultaneously, I took up a job where I wove intricate PHP code. It was here that my journey truly began, an exhilarating voyage into the captivating realm of computers and technology.</p>
      <p class="py-4">I started out in the startup scene, which was a blast. There was so much creativity and energy in those small companies, and I absolutely thrived in that environment. But then, out of the blue, I got the chance to step into the big leagues of the tech world.</p>
      <p class="py-4">Suddenly, I found myself in massive tech companies, working alongside huge development teams. My passion and know-how played a vital role in bringing about some significant innovations in web development. It was an exciting time, no doubt, and I felt like I was helping to shape the digital world we all know and love today.</p>
      <p class="py-4">Fast forward to today, and I find myself living in Berlin, Germany. Here, I've immersed myself in the local culture, learning and adapting aspects of it into the software I develop. It's a curious journey, one that's constantly evolving, yet it's also mature, built on solid foundations. Berlin has infused a unique flavor into my work, making it a reflection of both my tech expertise and the vibrant cultural tapestry that surrounds me.</p>
    </section>
  </Overview>
</MainLayout>