---
import { BiLogoReact } from 'react-icons/bi';
import { BiLogoNodejs } from 'react-icons/bi';
import { BiLogoCss3 } from 'react-icons/bi';
import { SiAstro } from 'react-icons/si';

import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero/Hero.astro';
import Overview from '../components/Overview/Overview.astro';

import FlipCard from '../components/FlipCard/FlipCard';
import WorkTimeline from '../components/TL/WorkTL';

---
<MainLayout title='Carlos Avila Web Developer' meta={{
	description: "Unlock the Potential of Your Projects with a Top-Tier Web Developer. I'm Carlos Avila, a software developer in Germany, skilled in Astro, React, Node.js, and Firebase. With expertise in Svelte, Vue, MongoDB, Express, Tailwind, and Bootstrap, I'm your go-to partner for web development excellence. Let's bring your ideas to life."
}}>
	<Hero imagePath='/images/joshua-reddekopp-GkFQEOubrCo-unsplash.avif' title='Hello my Name is Carlos Avila' description="I'm a software developer, chilling in Germany right now. My tech journey's taken me through a bunch of cool stuff, but my core game is all about Astro, Node.js, and Firebase. I've got some side gigs with other tech too, like React, Vue, MongoDB, Express, and I've dabbled in Tailwind, Bootstrap, and the whole shebang." />
	<Overview title="Overview" subtitle="INTRODUCTION" description="I'm a Frontend Engineer and tech geek at heart! Over my career, I've ridden the wave of my tech passion and my knack for bonding with people and communities. With a solid decade in web development, I'm all set to tackle those tough projects and deliver top-notch outcomes.">
		<div class="mt-10 flex flex-wrap gap-8 md:justify-between">
			<FlipCard title='React' description="In my journey so far, I've been the brains behind, built, kept alive, and scaled up React apps like a pro.">
					<BiLogoReact />
			</FlipCard>
			<FlipCard title='NodeJs' description="In my book, Node.js is like the speedy, hassle-free way to cook up and manage backend code.">
					<BiLogoNodejs />
			</FlipCard>
			<FlipCard title='Astro' description="Astro? It's the bomb, hands down. It's the framework I'm totally vibing with and it strikes that sweet spot for web performance, making it my absolute fave.">
					<SiAstro />
			</FlipCard>
			<FlipCard title='CSS' description="No matter how I go about it—whether I'm diving into Tailwind or trying out other styling tricks—I'm all about bringing my A-game to create kick-ass interfaces with that perfect look and feel.">
					<BiLogoCss3 />
			</FlipCard>
		</div>
	</Overview>
	<Overview title="Work Experience" subtitle="WHAT I'VE DONE SO FAR" description=''>
		<WorkTimeline client:visible />
	</Overview>
	<Overview title='My Prefferred technology' subtitle='Tools that I love to use' description='I have experience with multiple web frameworks, database engines, styling tools, and more.'>
		<section class="flex mt-4 gap-4 flex-wrap justify-center mb-10">
			<div class="bg-white shadow-xl rounded-full p-2 w-14 md:w-28">
				<img src="/images/typescript.webp" alt="typescript" class="bg-cover" />
			</div>
			<div class="bg-white shadow-xl rounded-full p-2 w-14 md:w-28">
				<img src="/images/webpack.webp" alt="webpack" />
			</div>
			<div class="bg-white shadow-xl rounded-full p-2 w-14 md:w-28">
				<img src="/images/svelte.webp" alt="svelte" />
			</div>
			<div class="bg-white shadow-xl rounded-full p-2 w-14 md:w-28">
				<img src="/images/mongo.webp" alt="mongodb" />
			</div>
			<div class="bg-white shadow-xl rounded-full p-2 w-14 md:w-28">
				<img src="/images/html5.webp" alt="express" />
			</div>
			<div class="bg-white shadow-xl rounded-full p-2 w-14 md:w-28">
				<img src="/images/css3.webp" alt="css3" />
			</div>
			<div class="bg-white shadow-xl rounded-full p-2 w-14 md:w-28">
				<img src="/images/javascript.webp" alt="javascript" />
			</div>
			<div class="bg-white shadow-xl rounded-full p-2 w-14 md:w-28">
				<img src="/images/nextjs.webp" alt="nextjs" />
			</div>
			<div class="bg-white shadow-xl rounded-full p-2 w-14 md:w-28">
				<img src="/images/redux.webp" alt="redux" />
			</div>
		</section>
	</Overview>
</MainLayout>