---
import { RiTwitterXFill } from 'react-icons/ri';
import { AiFillYoutube, AiFillLinkedin } from 'react-icons/ai';

---
<div class="w-ful bg-slate-700">
  <footer class="grid w-full grid-flow-row md:grid-flow-col place-items-start gap-y-10 gap-x-4 text-sm max-w-7xl mx-auto p-10">
    <div>
      <div>
        <img src="/images/logo.svg" alt="logo" class="w-80" />
      </div>
      <p class="text-slate-200">
        Carlos Avila Ltd.
        <br />
        Providing reliable tech since 2008.
      </p>
    </div>
    <div class="text-slate-200">
      <span class="mb-2 font-bold uppercase block">
        Social
      </span>
      <div class="grid grid-flow-col gap-4">
        <a href="https://twitter.com/Carlos_A_Tech" target="_blank" aria-label="Twitter" class=" text-3xl">
          <RiTwitterXFill />
        </a>
        <a href="https://www.youtube.com/@CarlosAvilaTech" target="_blank" aria-label="Youtube" class=" text-3xl">
          <AiFillYoutube />
        </a>
        <a href="https://linkedin.com/in/cavilarts" target="_blank" aria-label="Linkedin" class=" text-3xl">
          <AiFillLinkedin />
        </a>
      </div>
    </div>
  </footer>
</div>